<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cross Browser Testing" parallel="classes">
    <listeners>
        <listener class-name="utils.listeners.TestListener"/>
    </listeners>
    <test name="Test On Browser">
        <groups>
            <dependencies>
                <group name="collections" depends-on="homepage">
                    <run/>
                </group>
            </dependencies>
        </groups>
        <classes>
            <class name="tests.HomeTest"/>
            <class name="tests.DigitalCollectionsTest"/>
            <class name="tests.SurveyTest"/>
        </classes>
    </test>
</suite>